<!DOCTYPE html>
<html lang="en">
<title>Textmining Web Application</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
    body, h1, h2, h3, h4, h5 {
        font-family: "Poppins", sans-serif
    }

    body {
        font-size: 16px;
    }

    .w3-half img {
        margin-bottom: -6px;
        margin-top: 16px;
        opacity: 0.8;
        cursor: pointer
    }

    .w3-half img:hover {
        opacity: 1
    }
</style>
<body>

<!-- Sidebar/menu -->
<nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;"
     id="mySidebar"><br>
    <a href="javascript:void(0)" onclick="Page_close()" class="w3-button w3-hide-large w3-display-topleft"
       style="width:100%;font-size:22px">Close Menu</a>
    <div class="P-container">
        <h3 class="w3-padding-64"><b>Pubmed<br>Search Tool</b></h3>
    </div>
    <div class="w3-bar-block">
        <a href="#" onclick="Page_close()" class="w3-bar-item w3-button w3-hover-white">Home</a>
        <a href="#services" onclick="Page_close()" class="w3-bar-item w3-button w3-hover-white">Pubmed Search Tool</a>
        <a href="#designers" onclick="Page_close()" class="w3-bar-item w3-button w3-hover-white">Members</a>
        <a href="#contact" onclick="Page_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
    </div>
</nav>

<!-- Top menu on small screens -->
<header class="w3-container w3-top w3-hide-large w3-red w3-xlarge w3-padding">
    <a href="javascript:void(0)" class="w3-button w3-red w3-margin-right" onclick="Page_open()">☰</a>
    <span>Pubmed Search Tool</span>
</header>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" onclick="Page_close()" style="cursor:pointer" title="close side menu"
     id="myOverlay"></div>

<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:340px;margin-right:40px">

    <!-- Header -->
    <div class="P-container" style="margin-top:80px" id="showcase">
        <h1 class="w3-jumbo"><b>Welcome</b></h1>
        <p>Hier komt de introductie</p>
        <hr style="width:50px;border:5px solid red" class="w3-round">
    </div>


    <!-- Modal for full size images on click-->
    <div id="modal01" class="w3-modal w3-black" style="padding-top:0" onclick="this.style.display='none'">
        <span class="w3-button w3-black w3-xxlarge w3-display-topright">×</span>
        <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-64">
            <img id="img01" class="w3-image">
            <p id="caption"></p>
        </div>
    </div>

    <!-- Introductie -->
    <div class="P-container" id="services" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Applicatie</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <form method="POST">
            <table width=100%>
                <tr>
                    <td align="center">
                        <table width="600" border="0" class="table_home_page">
                            <tr>
                                <td colspan="3" align="center"></td>
                            </tr>
                            <tr>
                                <td width="100"> &nbsp;</td>
                                <td width="400">
                                    <textarea id="myTextarea" cols="50" rows="5" name="myTextarea"></textarea>
                                </td>
                                <td width="100">
                                    <div id="formsubmitbutton">
                                        <input type="submit" name="submitter" value="Submit Button"
                                               onclick="ButtonClicked()">
                                    </div>
                                    <div id="buttonreplacement" style="margin-left:30px; display:none;">
                                        <img src="/static/images/wait.gif" alt="loading...">
                                    </div>
                                    {#                                    <button type="submit">Search</button>#}
                                </td>
                            </tr>
                            <tr>
                                <td colspan="3" valign="top" height="600" align="center">
                                    <p2>Found data with the searchwords: {{ zoekwoord | safe }}</p2>
                                    <br>
                                    {{ teruggave | safe }}
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </form>
    </div>

    <!-- Designers -->
    <div class="P-container" id="designers" style="margin-top:75px">
        <h1 class="w3-xxxlarge w3-text-red"><b>Members.</b></h1>
        <hr style="width:50px;border:5px solid red" class="w3-round">
        <p>The best team in the world.</p>
        <p>Een zeer significante samenstelling!</p>
        <p><b>Studenten uit Groep 6</b>:</p>
    </div>

    <!-- The Team -->
    <div class="w3-row-padding w3-grayscale">
        <div class="w3-col m4 w3-margin-bottom">
            <div class="w3-light-grey">
                <div class="P-container">
                    <h3>Sanne Post</h3>
                    <p class="opacity">MijnenMijnen</p>
                    <p>Verhaaltje</p>
                </div>
            </div>
        </div>
        <div class="w3-row-padding w3-grayscale">
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="P-container">
                        <h3>Inge van Vugt</h3>
                        <p class="opacity">ApplicatieMagie</p>
                        <p>Verhaaltje</p>
                    </div>
                </div>
            </div>

            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="P-container">
                        <h3>Fabian Fransen</h3>
                        <p class="opacity">Designer</p>
                        <p>Onderschrift</p>
                    </div>
                </div>
            </div>
            <div class="w3-col m4 w3-margin-bottom">
                <div class="w3-light-grey">
                    <div class="P-container">
                        <h3>Alexander Colin</h3>
                        <p class="opacity">Programmeur</p>
                        <p>Onderschrift</p>
                    </div>
                </div>
            </div>
            <div></div>
        </div>

        <!-- Contact -->
        <div class="P-container" id="contact" style="margin-top:75px">
            <h1 class="w3-xxxlarge w3-text-red"><b>Contact.</b></h1>
            <hr style="width:50px;border:5px solid red" class="w3-round">
            <p>Do you want us to style your home? Fill out the form and fill me in with the details :) We love meeting
                new people! (except for people named carl. never contact us again carl..)</p>
            <form action="/action_page.php" target="_blank">
                <div class="w3-section">
                    <label>Name</label>
                    <input class="w3-input w3-border" type="text" name="Name" required>
                </div>
                <div class="w3-section">
                    <label>Email</label>
                    <input class="w3-input w3-border" type="text" name="Email" required>
                </div>
                <div class="w3-section">
                    <label>Message</label>
                    <input class="w3-input w3-border" type="text" name="Message" required>
                </div>
                <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Send Message
                </button>
            </form>
        </div>

        <!-- End page content -->
    </div>

    <!--Container -->
    <div class="w3-light-grey w3-container w3-padding-32" style="margin-top:75px;padding-right:58px"><p
            class="w3-right">Powered by <a href="https://specials.han.nl/sites/biocentre/" title="HAN" target="_blank"
                                           class="w3-hover-opacity">HAN</a></p></div>

    <script>

        function ButtonClicked() {
            document.getElementById("formsubmitbutton").style.display = "none"; // to undisplay
            document.getElementById("buttonreplacement").style.display = ""; // to display
            return true;
        }

        var FirstLoading = true;

        function RestoreSubmitButton() {
            if (FirstLoading) {
                FirstLoading = false;
                return;
            }
            document.getElementById("formsubmitbutton").style.display = ""; // to display
            document.getElementById("buttonreplacement").style.display = "none"; // to undisplay
        }

        // To disable restoring submit button, disable or delete next line.
        document.onfocus = RestoreSubmitButton;

        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("myTable");
            switching = true;
            //Set the sorting direction to ascending:
            dir = "asc";
            /*Make a loop that will continue until
            no switching has been done:*/
            while (switching) {
                //start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /*Loop through all table rows (except the
                first, which contains table headers):*/
                for (i = 1; i < (rows.length - 1); i++) {
                    //start by saying there should be no switching:
                    shouldSwitch = false;
                    /*Get the two elements you want to compare,
                    one from current row and one from the next:*/
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /*check if the two rows should switch place,
                    based on the direction, asc or desc:*/
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            //if so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /*If a switch has been marked, make the switch
                    and mark that a switch has been done:*/
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    //Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /*If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again.*/
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }

        // Script to open and close sidebar
        function Page_open() {
            document.getElementById("mySidebar").style.display = "block";
            document.getElementById("myOverlay").style.display = "block";
        }

        function Page_close() {
            document.getElementById("mySidebar").style.display = "none";
            document.getElementById("myOverlay").style.display = "none";
        }

        // Modal Image Gallery
        function onClick(element) {
            document.getElementById("img01").src = element.src;
            document.getElementById("modal01").style.display = "block";
            var captionText = document.getElementById("caption");
            captionText.innerHTML = element.alt;
        }
    </script>
</div>
</body>
</html>